<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <main>
      <header>
        <h1>CRM - SEVE Finance</h1>
      </header>

      <section>
        <article>
          <p>
            DER:
            <br/>
            Dear {{user_first_name}}: 
            Here is DER <TEMplate></TEMplate>
          </p>
          <br/>
        </article>

        <br/>
        <br/>

        <footer>
          <div>SEVE, Paris, France</div>
          <div>Copyright &copy; 2022, All rights reserved</div>
        </footer>
      </section>

    </main>
  </body>
</html>
